<section id="settings" title="Settings" class="flex gap-y-6 my-6 md:my-16 justify-center md:items-center flex-wrap flex-row md:flex-col mx-auto gap-x-8 min-w-[340px]">
  <button type="button" class="block px-4 py-4 rounded-md bg-pink-600 text-zinc-100 font-semibold cursor-pointer shadow-sm w-[160px]" title="Start new game" (click)="onStartNewGame()">Start new
    game</button>
  <div class="px-6 py-4 rounded-md bg-yellow-600 text-center shadow-sm w-[160px]">
    <select id="codeLength" class="bg-yellow-600 cursor-pointer" name="change-turn" title="Change turn"
            (change)="onCodeLengthChange()" [(ngModel)]="currentCodeLength">
      <option *ngFor="let option of codeLengthOptions" [ngValue]="option">Code length: {{option}}</option>
    </select>
  </div>
</section>


