<div class="text-center md:text-left w-min mx-auto mb-14 md:mb-20 lg:mb-32">
      <div class="flex flex-row gap-x-16 absolute">
        <div class="accent accent-top accent-big accent-sky"></div>
        <div class="accent accent-top accent-big accent-green"></div>
        <div class="accent accent-top accent-big accent-pink"></div>
        <div class="accent accent-top accent-big accent-orange"></div>
      </div>
  <a routerLink="/">
    <h1 class="text-5xl font-semibold">
    <span class=" text-zinc-200">Master</span>
    <span class=" text-zinc-900">mind</span>
  </h1>
  </a>
</div>

