<div class="space-y-8 mt-10 md:mt-0 shadow-md p-6 mx-auto rounded-md text-pretty">
<h2 class="text-3xl underline underline-offset-8 accent accent-green accent-top">Game rules</h2>
<section class="space-y-3">
  <h3 class="text-xl text-green-500">The goal</h3>
  <article>The game's goal is to guess a sequence of several colors. Every color can appear in sequence more than once.
  </article>
</section>
<ul class="flex">
  <li class="mr-2" *ngFor="let route of routes; let i = index"><a [routerLink]="['/rules/', route]" class="transition-colors duration-300" routerLinkActive="text-green-300">{{route.toUpperCase()}}</a>
  <span class="mx-1 {{i === (routes.length - 1) ? 'hidden' : ''}}">/</span></li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>
</div>
