<main class="md:flex flex-wrap w-full justify-center gap-x-14 lg:gap-x-24 py-10 md:py-20">
  <div class="flex flex-wrap flex-col gap-y-6 md:gap-y-14">
    <game-header />
    <game-settings></game-settings>
  </div>
  <div class="min-w-[340px] mt-6 md:mt-0">
    <game-board></game-board>
  </div>
</main>
@if(gameStatus === 'success' || gameStatus === 'fail') {
<modal>
  <div
    class="h-60 min-w-[280px] w-2/3 max-w-[500px] {{modalStyle}} text-zinc-800 text-center text-pretty shadom-md absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-md">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-80">
        @if(gameStatus === 'success') {
        <h4 class="text-xl font-bold mb-4">Congratulations!</h4>
        <p class="md:text-lg font-semibold">You've guessed the code in {{turn + 1}} {{turn > 1 ? 'turns' : 'turn'}} </p>
        }
        @if (gameStatus === 'fail'){
        <h4 class="text-xl font-bold mb-4">Sorry!</h4>
        <p class="md:text-lg">You haven't guess the code this time.</p>
        }
    </div>
  </div>
</modal>
}

