<div class="mt-10 md:mt-28 min-w-[340px]">
  <nav>
    <game-header />
    <ul class="mt-14 flex w-7/12 md:w-11/12 justify-between flex-wrap flex-row md:flex-col md:items-center mx-auto min-w-[340px] gap-x-2 md:gap-y-4">
      @if(url !== '/') {
      <li class="">
        <button type="button"
          class="block rounded-md bg-gradient-to-b from-rose-300 to-orange-300 text-zinc-900 border-rose-500 border-2 text-xl cursor-pointer shadow-md w-[160px]">
          <a routerLink="/" class="block px-6 py-4 h-100 w-100">Play</a>
        </button>
      </li>
      }
      @if(url !== '/about') {
      <li class=" ">
        <button type="button"
          class="block rounded-md border-2 border-lime-600 bg-lime-300 text-zinc-900 text-xl cursor-pointer shadow-md w-[160px]">
          <a routerLink="/about" class="block px-6 py-4 h-100 w-100">About</a>
        </button>
      </li>
      }@if(!url?.includes('/rules')) {
      <li class="">
        <button type="button"
          class="block rounded-md border-2 border-sky-600 bg-sky-300 text-zinc-900 text-xl cursor-pointer shadow-md w-[160px]">
          <a routerLink="/rules" class="block px-6 py-4 h-100 w-100">Rules</a>
        </button>
      </li>
      }
    </ul>
  </nav>
  @if(url === '/') {
  <game-settings />
  }
</div>
