<div class="pt-10 md:pt-16">
  <nav class="mx-auto">
    <game-header />
    <ul class="mb-14 mt-14 flex gap-y-6 md:justify-center flex-wrap flex-row md:flex-col mx-auto max-w-[340px]">
      @if(url !== '/') {
      <li class="mx-auto">
        <button type="button"
          class="block rounded-md bg-transparent text-zinc-200 bg-lime-600 font-bold cursor-pointer shadow-md w-[160px]">
          <a routerLink="/" class="block px-6 py-4 h-100 w-100">About game</a>
        </button>
      </li>
      } @if(url !== '/game') {
      <li class="mx-auto">
        <button type="button"
          class="block rounded-md bg-pink-600 text-zinc-200 font-bold cursor-pointer shadow-md w-[160px]">
          <a routerLink="/game" class="block px-6 py-4 h-100 w-100">Play</a>
        </button>
      </li>
      } @if(url !== '/rules') {
      <li class="mx-auto">
        <button type="button"
          class="block rounded-md bg-transparent bg-sky-600 text-zinc-200 font-bold cursor-pointer shadow-md w-[160px]">
          <a routerLink="/rules" class="block px-6 py-4 h-100 w-100">Rules</a>
        </button>
      </li>
      }
    </ul>
  </nav>
  @if(url === '/game') {
  <game-settings />
  }
</div>
