<div class="mt-14 md:mt-32 min-w-[340px]">
  <nav>
    <game-header />
    <ul class="mt-14 flex w-7/12 md:w-11/12 justify-center flex-wrap flex-row md:flex-col md:items-center mx-auto min-w-[340px] gap-x-4 md:gap-y-4">
      @if(url !== '/') {
      <li class="accent hover:accent-pink">
        <button type="button"
          class="block rounded-full border-2 border-pink-700 text-xl cursor-pointer shadow-md w-[160px]">
          <a routerLink="/" class="block px-6 py-4 h-100 w-100 ">Play</a>
        </button>
      </li>
      }
      @if(url !== '/about') {
      <li class="accent hover:accent-green">
        <button type="button"
          class="block rounded-full border-2 border-green-700 text-xl cursor-pointer shadow-md w-[160px]">
          <a routerLink="/about" class="block px-6 py-4 h-100 w-100">About</a>
        </button>
      </li>
      }@if(!url?.includes('/rules')) {
      <li class="accent hover:accent-sky">
        <button type="button"
          class="block rounded-full border-2 border-sky-700 text-xl cursor-pointer shadow-md w-[160px]">
          <a routerLink="/rules" class="block px-6 py-4 h-100 w-100">Rules</a>
        </button>
      </li>
      }
    </ul>
  </nav>
  @if(url === '/') {
  <game-settings />
  }
</div>
