<div class="flex items-center w-full min-w-[340px] justify-center md:justify-start mt-16 md:mt-0">
    <available-colors />
      <section id="game-board" title="Game board" class="bg-zinc-600 border-2 border-zinc-900 rounded-sm shadow-lg py-4 overflow-x-scroll {{boardWidth}}">
        <color-code [code]="game.code" [showCode]="gameStatus === 'success' || gameStatus === 'fail'"></color-code>
        <hr class="border-zinc-900 border-2">
        <div class="p-4 space-y-2">
          <div *ngFor="let item of rows; let i = index" class="w-full flex gap-x-4 justify-between items-center">
            <empty-row [colors]="game.guesses[i]" [showPointer]="activeRowIndex === i" [onClick]="onColorGuess"></empty-row>
            @if (activeRowIndex !== i || game.gameStatus !== 'inProgress') {
              <hint-row [colors]="game.hints[i]"></hint-row>
            }
            @if(activeRowIndex === i && game.gameStatus === 'inProgress') {
              <button type="button" class="block py-2 rounded-md transition-colors duration-100 shadow-sm w-[44px] {{canCheck ? 'text-zinc-200 cursor-pointer hover:brightness-125 transition-all' : 'text-zinc-400 cursor-auto'}} text-md underline underline-offset-4"
                (click)="onCheck()" title="Check" [disabled]="!canCheck">Check</button>
            }
          </div>
        </div>
      </section>
</div>

